/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CUSOTM STYLES */

@import url("https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400,600");

:root {
  --pink: #e2c7c0;
  --dark-blue: #2c3d51;
  --med-blue: #5a7483;
  --light-blue: #819eac;
  --poiret: "Poiret One", sans-serif;
  --raleway: "Raleway", sans-serif;
}

/* HEADER */

header {
  background-color: var(--pink);
  position: fixed;
  width: 100vw;
  z-index: 1;
}

#logo-link {
  text-decoration: none;
}

#logo-link:hover {
  background-color: var(--pink);
  color: var(--dark-blue);
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: var(--raleway);
  text-transform: uppercase;
  padding: 1.5em;
}

.menu h2 {
  color: var(--dark-blue);
  font-size: 1.4em;
}

.menu nav {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  justify-content: space-around;
}

.menu nav a {
  color: var(--dark-blue);
  padding: 1rem;
  text-decoration: none;
}

.menu a:hover {
  background-color: var(--med-blue);
  color: var(--pink);
}

.title-container {
  align-items: center;
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7rem 3rem 3rem 3rem;
}

.title-container h1,
.title-container h3 {
  color: var(--dark-blue);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title-container h1 {
  font-family: var(--poiret);
  font-size: 3.2em;
  padding: 1rem;
}

.title-container h3 {
  font-family: var(--raleway);
  font-size: 1.2em;
}

.title-container span {
  color: #ff1b9b;
}

/* .panel {
  display: none;
} */

/* ABOUT */

#about {
  display: grid;
  grid-template-columns: [col-start] 1fr [col-mid] 2fr [col-end];
  grid-template-rows: [row-start] 1fr [row-end];
  margin: 0 4rem;
}

#about-img {
  grid-column: col-start / col-mid;
  margin: 4rem;
}

#about-text {
  grid-column: col-mid / col-end;
  margin: 6rem 2rem;
}

#about h2 {
  color: var(--dark-blue);
  font-family: var(--poiret);
  font-size: 1.7em;
  margin: 1rem 0;
  text-transform: uppercase;
}

#about li {
  color: var(--med-blue);
  font-family: var(--raleway);
  font-size: 0.9em;
  line-height: 1.3em;
  margin: 1rem;
}

#about li h3 {
  font-size: 1.2rem;
  margin: 0.5em;
}

#about .icon {
  height: 30px;
  width: 30px;
}

.about-list-title {
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* RESUME */

#resume {
  background-color: white;
  display: grid;
  grid-template-columns: [col-start] 3fr [col-mid] 1fr [col-end];
  grid-template-rows: [row-start] 1fr [row-end];
  padding: 6rem;
}

#resume-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  grid-column: col-start / col-mid;
  margin-left: 6rem;
}

#resume-text h2 {
  color: var(--med-blue);
  font-family: var(--poiret);
  font-size: 1.8em;
  margin: 1rem 0;
  text-transform: uppercase;
}

#resume .experience-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#resume .icon {
  height: 30px;
  width: 30px;
}

#resume h3 {
  color: var(--med-blue);
  font-family: var(--raleway);
  font-size: 1.2em;
  padding: 0 0.5em;
}

#resume ul {
  margin-left: 1rem;
}

#resume li {
  margin: 0.7em 0;
}

#resume a {
  text-decoration: none;
}

#resume .button {
  background-color: var(--med-blue);
  color: white;
  display: flex;
  align-items: center;
  font-family: var(--raleway);
  font-weight: bold;
  height: 3rem;
  justify-content: center;
  margin-left: 10rem;
  margin-top: 1rem;
  width: 15rem;
}

#resume .button:hover {
  background-color: var(--dark-blue);
}

#resume-icon {
  width: 250px;
}

#resume-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: col-mid / col-end;
}

#resume-img img {
  border: 1px solid var(--med-blue);
}

#resume-img p {
  color: var(--med-blue);
  font-family: var(--raleway);
  font-size: 1rem;
  margin: 1rem;
}

#resume-icon:hover {
  opacity: 0.6;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--dark-blue); /* Fallback color */
  background-color: rgba(44, 61, 81, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80vw;
  overflow: scroll;
  padding-bottom: 10rem;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* PROJECTS */

#projects {
  align-items: center;
  background-color: var(--med-blue);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  z-index: 0;
}

#projects h2 {
  color: var(--pink);
  font-family: var(--poiret);
  font-size: 1.7em;
  padding: 2rem;
  text-transform: uppercase;
}

#projects-grid {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.project-icon {
  margin: 2rem;
  position: relative;
  /* z-index: -2; */
}

.project-img {
  display: block;
  height: 30vh;
  width: 20vw;
}

.overlay {
  align-items: center;
  background-color: rgba(247, 217, 208, 0.8);
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.project-icon:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  font-family: var(--raleway);
  font-size: 1.3em;
  padding: 5rem 0 1rem 0;
  text-transform: uppercase;
}

.overlay p {
  font-family: var(--raleway);
  font-size: 1rem;
  line-height: 1.2em;
  padding: 0 1rem;
  text-align: center;
}

/* CONTACT */

#contact {
  align-items: center;
  background-color: var(--med-blue);
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

#contact h2 {
  color: var(--pink);
  font-family: var(--poiret);
  font-size: 1.7em;
  padding: 1rem;
  text-transform: uppercase;
}

.contact-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-icon {
  padding: 1rem 2rem;
}

/* FOOTER */

footer {
  justify-content: center;
  background-color: var(--pink);
  color: var(--dark-blue);
  display: flex;
  font-family: var(--raleway);
  padding: 2rem;
}

footer small {
  font-size: 1rem;
  padding: 0 0.7em;
}

footer a {
  color: var(--dark-blue);
  text-decoration: none;
}

/* MOBILE NAV */

/* MOBILE NAV */

/* Mobile Menu Icon */
#mobile-nav-icon {
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--dark-blue);
  margin: 3px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* Mobile Menu Toggle */
.accordion {
  align-items: flex-end;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: var(--pink);
  color: var(--dark-blue);
  overflow: hidden;
  max-height: 0;
  transition: 0.4s;
}

/* Menu Items */

.mobile-menu {
  font-family: "Shadows Into Light", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

ul .mobile-menu {
  padding: 0;
}

.mobile-menu li {
  border: none;
  font-family: var(--raleway);
  font-size: 1.4em;
  margin-top: 0.5em;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  width: 350px;
}

.mobile-menu li a {
  color: var(--dark-blue);
  text-decoration: none;
}
