@media screen and (min-width: 320px) and (max-width: 480px) {
  .menu {
    display: none;
  }
  #mobile-nav-icon {
    display: flex;
    flex-direction: column;
  }
  header {
    height: 10vh;
  }
  .title-container {
    align-items: flex-start;
    padding-top: 10vh;
    padding: 1rem;
  }
  .title-container h1 {
    font-size: 1.4em;
    padding: 0.5em 0;
    margin-right: 2rem;
    z-index: 1;
  }
  .title-container h3 {
    font-size: 1rem;
    z-index: 1;
  }
  /* ABOUT */
  #about {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  #about-img {
    margin: 1rem;
  }
  #about-img img {
    height: 70vw;
    margin: 0;
    width: 70vw;
  }
  #about h2 {
    text-align: center;
  }
  #about-text {
    margin: 0 0.5em;
  }
  /* RESUME */
  #resume {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  #resume-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  #resume-text h2 {
    text-align: center;
  }
  #resume .button {
    margin: 1rem;
  }
  .modal-content {
    max-width: 95vw;
  }
  /* PROJECTS */
  #projects {
    padding: 0;
  }
  #projects h2 {
    padding: 1rem;
    text-align: center;
  }
  #projects-grid {
    flex-direction: column;
  }
  .project-icon {
    margin: 1rem;
  }
  .project-img {
    width: 70vw;
  }
  .overlay {
    opacity: 1;
  }
  /* CONTACT */
  #contact {
    padding: 1rem;
  }
  #contact h2 {
    padding: 0.5em;
    text-align: center;
  }
  .contact-icon {
    padding: 0.5em;
  }
  /* FOOTER */
  footer {
    align-items: center;
    flex-direction: column;
  }
  footer small {
    padding: 0.3em 0;
  }
  #pipe {
    display: none;
  }
}
